<style>
    /* Internal CSS styles */
    h1 {
      color: blue;
      font-size: 24px;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }
    
    th {
      background-color: lightgray;
    }
    
    td {
      background-color: white;
    }
  </style>

<h1>user Login sucessfull</h1>

<h1>Home page</h1>

<h1>welcome to page</h1>

<table>
    <thead>
      <tr>
        <th data-testid="amount-header">AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-testid="amount-cell">200</td>
      </tr>
      <tr>
        <td data-testid="amount-cell">100</td>
      </tr>
      <tr>
        <td data-testid="amount-cell">50</td>
      </tr>
    </tbody>
  </table>
  